*,*:before,*:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #fff;
}
.card.custom-card {
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
}
.btn.btn-transparent, .btn.btn-transparent:hover, .btn.btn-transparent:focus {
    border-color: rgb(210, 210, 210);
    background-color: transparent;
    color: rgb(239, 239, 239);
    box-shadow: none;
}
.btn.btn-rounded {
    border-radius: 500px;
    padding: .45em .75em;
    height: auto;
}
.g-icon {
    width: 36px;
}
.separator hr {
    border-color: rgba(255, 255, 255, 0.298039);
}
.separator label {
    color: rgb(255, 255, 255);
}
.custom-margin {
    margin-top: 2.4em;
}
.gradient-styling {
    background: #57a37c;
    background: linear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
    background: -webkitlinear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
    background: -o-linear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
    background: -moz-linear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
    background: -o-linear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
    background: -moz-linear-gradient(to left top, #57a37c 0%/*bottom-right color*/, #368991 50% /*middle color*/, #1878a2 100% /*top-left color*/);
}